doctype html
html(itemscope itemtype="http://schema.org/Organization")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")

        title= "DevChampions – The best training for IT professionals"
        meta(name="description" content="DevChampions offers the best training courses for developers and IT professionals. We specialize, but are not limited to Java, engineering practices, software architecture, automation.")
        meta(name="keywords" content="dev training, training for developers, scrum certification")
        meta(name="robots" content="index,follow")
        meta(property="fb:admins" content="devchampions")

        each training in all_trainings
            meta(property="dc:training" content=training.url)

        meta(property="og:url" content="http://devchampions.com")
        meta(property="og:type" content="website")
        meta(property="og:title" content="DevChampions – Relevant training courses for IT professionals")
        meta(property="og:description" content="DevChampions offers high-quality training courses for developers and IT professionals in the Baltics. We specialize, but are not limited to engineering practices, software architecture, automation and Scrum certification.")
        meta(property="og:image" content="https://devchampions.com/img/devchampions_og.png")

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@devchampions")
        meta(name="twitter:creator" content="@devchampions")
        meta(name="twitter:title" content="DevChampions – Relevant training courses for IT professionals")
        meta(name="twitter:description" content="DevChampions offers high-quality training courses for developers and IT professionals in the Baltics. We specialize, but are not limited to engineering practices, software architecture, automation and Scrum certification.")
        meta(name="twitter:image" content="https://devchampions.com/img/devchampions_og.png")

        //- favicon
        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/style.css")
    body
        include facebook.pug
        header#header
            .container
                .menu
                    a(href="#about") About
                    a(href="#trainings") Training courses
                    a(href="#contacts") Contacts
                    a(href="https://twitter.com/devchampions")
                        i(class="fa fa-twitter")
                    a(href="https://www.facebook.com/devchampions")
                        i(class="fa fa-facebook")
                    a(href="https://linkedin.com/company/devchampions")
                        i(class="fa fa-linkedin")
                .logo
                    h1
                        a(href="/")
                            img.achievement(src="/img/devchampion.png" alt="achievement")
                            strong dev
                            | champions
                h2 Training courses for software developers.
                a.button(href="#trainings" type="button") See courses
        .about#about
            .container
                h1 Hi.
                p Do you believe that face-to-face interaction is the best way to learn? We believe it, too. 
                p At DevChampions, we offer the top quality training for software developers. 
                p We specialize, but are not limited to engineering practices, software architecture, automation and soft skills. 
                .why
                    section.practitioners
                        i(class="fa roundy fa-diamond")
                        h2 The best trainers
                        p DevChampions center is led by industry practioners (we founded&nbsp;
                            a(href="http://latcraft.lv") Latvian Software Craftsmanship Community
                            | &nbsp;and&nbsp;
                            a(href="http://devternity.com") DevTernity Conference
                            | ). That lets us choose only the best trainers - we know those who deliver excellent training courses in person.
                    section.exclusive
                        i(class="fa roundy fa-balance-scale")
                        h2 Theory and practice balance
                        | Theory without practice is worthless. Nevertheless, in order to understand the topic you need to build strong theoretical foundation. Our training courses offer great mix of theory, hands-on exercises and teamwork.
                    section.certification
                        i(class="fa roundy fa-certificate")
                        h2 Certification
                        | For every successfully accomplished training you earn a certificate. Stay out of the crowd by sharing your achievements with prospective employers, community and peers.
                p &nbsp;
        .trainings#trainings
            .container
                h1 Scheduled training courses
                each training in trainings
                    section.training
                        header
                            h2.title !{training.title}
                            if training.badge
                                img(src='/img/' + training.badge + '.png' alt="Certificate")
                            if training.date
                                h3 #{training.date}, #{training.location}
                            else
                                h3 #{training.location}
                            if training.locations
                                each location in training.locations
                                    h3 #{location.date}, #{location.city}                                
                        section
                            .trainer
                                div(class='pic')
                                    if training.trainer.avatar
                                        img(style="width: 150px; border-radius: 999px" src=training.trainer.avatar)
                                    else
                                        img(style="width: 150px; border-radius: 999px" src='https://avatars.io/twitter/' + training.trainer.twitter)
                                div
                                    a(href='https://twitter.com/' + training.trainer.twitter)
                                        img(src="/img/twitter.png" alt=training.trainer.twitter)
                                    strong &nbsp;#{training.trainer.name}
                                    br
                                    | !{training.trainer.title}
                            .description
                                | !{training.description}
                                .actions
                                    .more
                                        if training.link
                                          a.action(href=training.link.href) #{training.link.name}
                                        else
                                          a.action(href=training.url) More information
                                    .social
                                        if training.link
                                          .fb-like(data-href=training.link.href data-layout="box_count" data-action="like" data-show-faces="true" data-share="true")
                                        else
                                          .fb-like(data-href="http://devchampions.com/" + training.url data-layout="box_count" data-action="like" data-show-faces="true" data-share="true")
                p
                    blockquote
                        strong Didn't find a training for you?&nbsp;
                        | No problem,&nbsp;
                        a.darken(href="#contacts") let us know
                        |  what topic you are interested in and we will handle all organizational aspects including finding the best trainer, price negotiation and logistics. Please let us know if you prefer on-premises training.
        include footer.pug
        include ga.pug
        include tawk.pug
        include twitter.pug
        include yandex.pug
