doctype html
include ../../message.pug
html
    - var path = 'xa'
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
        title=self.title + " - Training and Certification classes"
        meta(name="description" content=self.metaDescription)
        meta(name="keywords" content=self.keywords)

        meta(property="og:image" content=self.ogImage ? 'https://devchampions.com/img/' + self.ogImage : 'https://devchampions.com/img/devchampions_og.png')
        meta(property="og:url" content="http://devchampions.com/" + self.url)
        meta(property="og:type" content="website")
        meta(property="og:title" content=self.title + " - Training and Certification")
        meta(property="og:description" content=self.metaDescription)
        meta(property="fb:admins" content="devchampions")
        meta(property="dc:date" content=self.date)
        meta(property="dc:title" content=self.title)            
        each offer in self.offers
            meta(property="dc:price" content=offer.name + (offer.info ? ' (' + offer.info + ')' : '') + ',' + offer.price)

        meta(property="dc:location" content=self.location)

        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:site" content="@devchampions")
        meta(name="twitter:creator" content="@devchampions")
        meta(name="twitter:title" content=self.title + " - Training and Certification")
        meta(name="twitter:description" content=self.metaDescription)
        meta(name="twitter:image" content=self.ogImage ? 'https://devchampions.com/img/' + self.ogImage : 'https://devchampions.com/img/devchampions_og.png')

        link(rel="shortcut icon" href="/favicon.ico")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/training.css?v=1")
        script(src="/js/main.js")
        if self.customBg
            style
                | header#header {
                |    background-image: url(#{self.customBg});
                |    background-position: right center;
                | }

        style
            | header.h1#header {
            |    color: black;
            | }

        script(type="application/ld+json")
          | {
          |   "@context": "http://schema.org",
          |   "@type": "Organization",
          |   "name": "DevChampions",
          |   "url": "https://devchampions.com",
          |   "sameAs": [
          |     "https://twitter.com/devchampions",
          |     "https://www.facebook.com/devchampions"
          |   ]
          | }      

        script(type="application/ld+json")
          | {
          |   "@context": "http://schema.org",
          |   "@type": "EducationEvent",
          |   "name": "#{self.title}",
          |   "image": "#{self.ogImage ? 'https://devchampions.com/img/' + self.ogImage : 'https://devchampions.com/img/devchampions_og.png'}",
          |   "description": "#{self.metaDescription}",
          |   "startDate": "#{self.from_iso}T09:00",
          |   "endDate": "#{self.to_iso}T20:00",
          |   "performer": {
          |     "@type": "Person",
          |     "name": "#{self.trainer.name}",
          |     "sameAs": "https://twitter.com/#{self.trainer.twitter}"
          |   },  
          |   "offers": [
          |     {
          |         "@type": "Offer",
          |         "url": "#{self.book}",
          |         "name": "#{self.offers[0].name}",
          |         "price": "#{self.offers[0].price}",
          |         "priceCurrency": "EUR",
          |         "validFrom": "2019-08-25T09:00",      
          |         "availability": "http://schema.org/InStock"
          |       }    
          |   ],
          |   "location": {
          |     "@type": "Place",
          |     "address": {
          |       "@type": "PostalAddress",
          |       "addressLocality": "#{self.city}",
          |       "addressRegion": "#{self.country}"
          |     },
          |     "name": "#{self.location}"
          |   }
          | }   

        script(src="/js/main.js")       

    body        
        include ../../facebook.pug
        header#header
            .container
                .logo
                    h1
                        a(href="#")
                            if self.badge
                                img.badge(src='/img/' + badge + '.png' alt="Certificate")
                            strong  #{self.title}
                if self.date
                    h2 
                        i.fa.fa-star(aria-hidden="true")
                        i.fa.fa-star(aria-hidden="true")
                        i.fa.fa-star(aria-hidden="true")
                        i.fa.fa-star(aria-hidden="true")
                        i.fa.fa-star(aria-hidden="true")
                        br
                        br
                        | #{self.date}, #{self.location}
                    h2
                        br
                        a.action2(href="#offers") Book now
                        if self.travelPack
                          | &nbsp;
                          a.action2(href="#offers") Book now with travel
                else
                    h2 #{self.location}
                if self.locations
                    each location in self.locations
                        h3 #{location.date}, #{location.city}     
                    h3 &nbsp;                            
                    h2
                        a.action2(href="#offers") Book now
        main
            if self.logos
                #logos
                    section
                        each logo in self.logos
                            .jlogo
                                img(src='/img/' + logo alt=logo)                   
            section#description
                .container
                    h2 Introduction
                    article
                        include description.pug
                        .shorties
                            section.shorty
                                i(class="fa roundy fa-group")
                                h2 Audience
                                p #{self.audience}
                                if self.audienceDemo
                                    br
                                    h3: strong Demographics
                                    each audience in self.audienceDemo
                                        span #{audience}
                                        br
                            section.shorty
                                i(class="fa roundy fa-certificate")
                                h2 Certification
                                p #{self.certification}
                                if self.certificateImage
                                    br
                                    .certificate: a(href='/img/' + self.certificateImage): img(src='/img/' + self.certificateImage alt="Example certificate")
                                p
                                    if self.exampleCertificate
                                        a(target='_blank' href=self.exampleCertificate)
                                            | View example certificate
                            section.shorty
                                i(class="fa roundy fa-globe")
                                h2 Language
                                p #{self.language}
            include testimonials.pug
            section#details
                .container
                    article
                        include outline.pug            
            section#trainer
                .container
                    section.training
                        header
                            h1.title(style="color: black;") Trainer
                        section
                            .trainer
                                if self.trainer.avatar
                                    img.face(src=self.trainer.avatar height="200px")
                                else 
                                    img.face(src='https://twitter-avatar.now.sh/' + self.trainer.twitter)
                                include ../../trainer/andreyadamovich.pug
            if self.address
                section#location
                    .container
                        header
                            h1 Location
                        article
                            .address
                                section
                                    h2
                                        strong Address:&nbsp;
                                        | #{self.address}
                            if self.locationPictures
                                .locations
                                    each picture, no in self.locationPictures
                                        section.location
                                            img(src="#{picture}")
            section#offers
                .container
                    header
                        h1(style="color: black;") Limited offer. Grab your ticket today.
                    each offer, no in self.offers
                        if offer.name
                            .offer
                                h2 #{offer.name}
                                if offer.info
                                    h3 #{offer.info}
                                else
                                    h3 &nbsp;
                                .price(style="width: 220px; height: 220px; font-size: 50px")
                                    .child
                                      if offer.originalPrice 
                                        span(style="text-decoration: line-through") #{offer.price + offer.originalPrice ? offer.originalPrice : 200}
                                      |&nbsp;#{offer.price}€
                                if self.travelPack && !offer.onPrem
                                  h3 
                                    i.fa.fa-plane
                                    |  Flight to #{self.location} within EU
                                    br
                                    i.fa.fa-home 
                                    |  2 night stay in a great hotel 
                                    br
                                    b +300€
                                .actions
                                    a.action(href=offer.book ? offer.book : self.book) Book now
                        else
                            .polyfill &nbsp;
                block message
        include ../../footer.pug
        include ../../ga.pug
        include ../../tawk.pug
        include ../../twitter.pug
        include ../../yandex.pug

